doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./css/normalize.css")
        link(rel="stylesheet", href="./css/main.css")
        script(src='https://code.jquery.com/jquery-3.7.1.js') 
        script(src='https://code.jquery.com/ui/1.13.2/jquery-ui.js') 

        title Hook Production Test
    body

        header.header 
            .header__container.container 
                .header__logo
                    img(src="./img/Logo.png" alt="Логотип Института Развития")
                .header__login Войти
                    ul.header__options.list-reset 
                        li.header__option 
                            a.header__link(href="#") Уже есть аккаунт
                        li.header__option 
                            a.header__link(href="#") Зарегистрироваться

            
        main.main
            - var searchItems = [{title: 'Копирайтер', link: '#', imgTitle: 'search img 1', imgSrc: './img/search-1.jpg'}, {title: 'Механик', link: '#', imgTitle: 'search img 2', imgSrc: './img/search-2.jpg'}, {title: 'Шеф-повар', link: '#', imgTitle: 'search img 3', imgSrc: './img/search-3.jpg'}, {title: 'Адвокат', link: '#', imgTitle: 'search img 4', imgSrc: './img/search-4.jpg'}]
            section.search 
                .search__container.container 
                    h1.search__title Биржа вакансий и&nbsp;резюме  
                    ul.search__tablist.list-reset(role="tablist")
                        li.search__tabitem.active(data-path="vacancies") Вакансии
                        li.search__tabitem(data-path="resume") Резюме
                    form.search__form.form(action="") 
                        input.form__input(type="text", name="search", placeholder="Услуга или специалист")
                        button.form__btn.btn-reset Найти
                    .search__tabcontent.tabcontent
                        ul.tabcontent__list.list-reset.active(data-target="vacancies")
                            li.tabcontent__item Копирайтер
                            li.tabcontent__item Создание гайдов
                            li.tabcontent__item Курьер
                        ul.tabcontent__list.list-reset(data-target="resume")
                            li.tabcontent__item Официант
                            li.tabcontent__item Механик
                            li.tabcontent__item Менеджер по продажам
                    ul.search__results.list-reset 
                        for item of searchItems
                            li.search__item.search-item
                                a.search-item__link(href=item.link target="_blank") 
                                    img.search-item__img(src=item.imgSrc, alt=item.imgTitle)
                                    p.search-item__title= item.title
                    p.search__error Поиск не дал результатов. Попробуйте другой запрос

        footer.footer
            .footer__container.container 
                p.footer__copy &copy;&nbsp;2023 Институт запусков
                .footer__right 
                    a.footer__link(href="#" target="_blank") Политика конфидециальности
                    a.footer__link(href="#" target="_blank") Правовая информация

        script(src='./js/app.js')   
                                                    